databases:
  - name: comparing_heroku_alternatives_production
    databaseName: comparing_heroku_alternatives_production
    user: comparing_heroku_alternatives

services:
  - type: web
    name: comparing_heroku_alternatives
    env: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: comparing_heroku_alternatives_production
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
